Utilizamos doble quote en el script para que se puedan usar caracteres especiales
El fichero .env debe de ir en este mismo directorio para que funcione correctamente

ROOT_PASSWORD=contra root
MYSQL_ROOT_PASSWORD=contra a poner
PHPMYADMIN_APP_PASSWORD=contra para el phpMyAdmin root
$STATS_USERNAME=usuario goaccess apache
$STATS_PASSWORD=contra para usuario goaccess apache
$EMAIL=correo electronico
$DOMAIN=dominio a utilzar en apache